
@{
    Layout = null;
}
@model WoodModel.CompanyModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>公司信息编辑</title>
    <link href="../../Content/styles/admin/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/Admin/AdminPqGrid/pqgrid.min.css" rel="stylesheet" />

    <script src="~/Scripts/Admin/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/Admin/jquery.easyui.min.js"></script>
    <script src="~/Scripts/Admin/AdminPqGrid/pqgrid.min.js"></script>
    <script src="~/Scripts/Admin/FunctionJS.js"></script>
    <script src="~/Scripts/Admin/AdminCompnay/index.js"></script>
</head>
<body>
    <div class="btnbartitle">
        <div>
            管理信息 - <span id="OrganizationName">公司信息</span>
        </div>
    </div>

    <div class="tools_bar">
            <a title="刷新当前页面" onclick="Replace();" class="tools_btn">
                <span><b style="background: url('/Content/images/admin/16/arrow_refresh.png') 50% 4px no-repeat;">刷新</b></span>
            </a><div class="tools_separator"></div>
            @*<a title="" onclick="add();" class="tools_btn">
                <span><b style="background: url('/Content/images/admin/16/application_add.png') 50% 4px no-repeat;">新增</b></span>
            </a>*@
            <a title="" onclick="edit();" class="tools_btn"><span class=""><b style="background: url('/Content/images/admin/16/application_edit.png') 50% 4px no-repeat;">编辑</b></span></a>
            @*<a title="" onclick="Delete();" class="tools_btn"><span><b style="background: url('/Content/images/admin/16/application_delete.png') 50% 4px no-repeat;">删除</b></span></a>*@
            <div class="tools_separator"></div>
            <a title="关闭当前窗口" onclick="ThisCloseTab();" class="tools_btn">
                <span class=""><b style="background: url('/Content/images/admin/16/back.png') 50% 4px no-repeat;">离开</b></span>
            </a>
    </div>
    <table id="tb_basic" border="0" cellpadding="0" cellspacing="0" class="frm tabPanel" style="margin-top: 1px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(204, 204, 204); display: table;">
        <tbody>
            <tr>
                <th class="highlight">
                    公司名称：
                </th>
                <td>
                    <span id="CompanyName">
                      @Html.Label(Model.CompanyName)
                    </span>
                </td>
                
            </tr>
            <tr>
                <th class="highlight">
                    公司简介：
                </th>
                <td>
                    <span id="CompanySummary">
                        @Html.Label(Model.CompanySummary)
                    </span>
                </td>
               
            </tr>
            <tr>
                <th class="highlight">
                    详细介绍：
                </th>
                <td>
                    <span id="CompanyDes">
                        @Html.Label(Model.CompanyDes)
                    </span>
                </td>
                
            </tr>
            <tr>
                <th class="highlight">
                    公司地址：
                </th>
                <td>
                    <span id="CompanyAddress">
                        @Html.Label(Model.CompanyAddress)

                    </span>
                </td>
              
            </tr>
            <tr>
                <th class="highlight">
                    公司电话：
                </th>
                <td>
                    <span id="CompanyTelephone">
                        @Html.Label(Model.CompanyTelephone)
                    </span>
                </td>
               
            </tr>
            <tr>
                <th class="highlight">
                    公司邮箱：
                </th>
                <td>
                    <span id="CompanyEmail">
                        @Model.CompanyEmail
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
